/* The max width is dependant on the container (more info below) */
.popover {
  max-width: 100% !important; /* Max Width of the popover (depending on the container!) */
}

.form-check-input {
  margin-top: 0 !important;
}

.btn {
  height: 40px;
}

.popover-body {
  padding-top: 4px !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
  padding-bottom: 8px !important;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 3.5vw;
  }
  h4 {
    font-size: 3vw;
  }
  h5 {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
  }
  .btn {
    height: 7vw;
    width: 19vw;
  }
  .img {
    scale: 3vw !important;
    height: 3vw !important;
  }
  textarea {
    font-size: 3vw !important;
  }
  .nomargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .nopadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .popover {
    width: 300px !important;
  }
  .popover-header {
    width: 300px !important;
    height: 33px !important;
  }
  .popover-body {
    width: 300px !important;
  }
}
